<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit publisher</title>
</head>
<body>
<h1>Edit publisher</h1>
<p>
    <a href="/publishers">Publisher list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-publisher}" th:object="${publisher}" method="post">
    <input th:type="hidden" name="publisherID" th:field="*{publisherID}">
    <table>
        <tr>
            <td>Publisher Name:</td>
            <td><input type="text" th:field="*{publisherName}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update publisher"></td>
        </tr>
    </table>
</form>
</body>
</html>