<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Create author</title>
</head>
<body>
<h1>Create author</h1>
<p>
    <a href="/authors">Author list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-author}" th:object="${author}" method="post">
    <table>
        <tr>
            <td>Author Name:</td>
            <td><input type="text" th:field="*{authorName}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create author"></td>
        </tr>
    </table>
</form>
<div sec:authorize="isAuthenticated()">
    <a th:href="@{/admin}">Home</a> | <a th:href="@{/login}">Logout</a>
</div>
</body>
</html>